* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background: #000;
    font-size: 1.20rem;
    font-family: 'Roboto', sans-serif;
    border: none;
    position: relative;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: normal;
    min-height: 100px;
    color: #fafafa;
    text-align: center;
}

body {
    outline: none;
}


h1 {
    margin: 0 auto;
}

.header {
    background: #33a;
    font-size: 1.29rem;
    font-weight: bold;
    padding: 2rem;
    grid-column: 1  / 3;
}

.sidebar {
    background:#00008b;
    font-size: 1.29rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 10px;
    grid-row: 2 / 4;
}

.nav {
    background: #5a6acd;
    font-size: 1.29rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 10px;
}


.article {
    background: #663399;
    font-size: 1.29rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 10px;
}

.footer {
    background: #87ceeb;
    font-size: 1.29rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 10px;
    grid-column: 1 / 3;
}

/*  Solutions */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    gap: 15px;
}